/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
*{
  margin: 0;
  padding: 0;
}
#callout > p:nth-child(3){
  margin: 10px;
}
#callout > p:nth-child(4){
  margin: 10px;
}
.locale {
  float: right;
  margin: -0.25em 0.1em;
}

#banner {
  background: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  padding-top: 10px;
  z-index: 9;
  position: fixed;
  top:0;
  left:0;
  right:0;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  font: small-caps 60px/70px "Arial Black", sans-serif;
  text-align: center;
  h1{
    color: white;
    text-shadow: inset 1px 1px 5px rgba(0,0,0,0.5);
  }
  img {
    float:left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #141;
  padding-top: 70px;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: black;

    //Styles the callout - extra class assignment
    #callout p {
      color: white;
      font-size: .75em;
      line-height: .5em;
    }

    h3 {
    color: white;
    font-weight: 100;
    }

    #callout {
      margin-bottom: 2em;
    }
    /*Fixes the display of the cart in the sidebar - see page 140 of book*/
    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #login_welcome {
      color: white;
    }

    #cart {
      font-size: smaller;
      color: white;

      table {
        border-top: 1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
}

//Styles the Order Form

.depot_form {
  fieldset {
    background: #efe;

    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em, 1em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
    margin-left: 0.5em;
  }

    .submit {
      margin-left: 4em;
  }

    br {
    display: none;
    }
  }
}
