// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$lightgray: rgba(0,0,0,0.3);
$darkgray: rgba(0,0,0,0.5);

.products {
  table{
    border-collapse: collapse;
    width: 100%;
  }
  table tr td {
    padding: 5px;
  }
  .list_image{
    width: 60px;
    height: 70px;
  }
  .list_description{
    width: 60%;
  }
  dl{
    margin: 0;
  }
  dt{
    margin:0;

  }
  dd{
    margin:0;
  }
}

body > table > tbody > tr > td.list_description > dl > dt:nth-child(1){
  font-size: 24px;
  font-weight: bold;
}

.list_actions{
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  a{
    color: white;
    text-decoration: none;
  }
  a:hover{
    color: white;
    text-decoration: underline;
    background: none;
  }
  a:visited{
    color: white;
    text-decoration: none;
  }

}



.list_line_even{
  background: $lightgray;
}
.list_line_odd{
  background: $darkgray;
}
